[submodule "alacritty/themes"]
	path = alacritty/themes
	url = git@github.com:alacritty/alacritty-theme.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
